@use './mixins.scss' as mixins;



.width {
  width: 143px;
  height: 54px;
  text-align: center;
}

.padding-optimization {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.auto {
  @media (max-width: 850px) {
    margin: auto;
  }
}
