$text-white-color: #fff;

html {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  color: $text-white-color;
}

.header {
  background-image: url('../../public/header-bg.png');
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__top {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

  &__bean-scene {
    color: $text-white-color;
    font-size: 35px;
    font-family: "Clicker Script", serif;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    cursor:default;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    color: $text-white-color;
    text-decoration: none;
    font-size: 17px;
    padding: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__button {
    width: auto;
    height: 48px;
    border-radius: 24px;
    background-color: #F9C06A;
    transition: all 0.3s ease-in-out;

    @keyframes flash {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
      }
    }
   
    &:hover {
      animation: flash 0.5s ease-in-out;
      background-color: #ffdaa3;
      transform: scale(1.2);
    }
  }

  &__sign-in {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;


    &--text-white {
      color: $text-white-color;
      margin-right: 20px;
      text-decoration: none;
      border-bottom: 1px solid white;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--text-black {
      display: flex;
      font-weight: bold;
      color: #1E1E1E;
      text-decoration: none;
      padding: 14px 25px 25px 25px;
    }
  }

  
  &__title {
    font-size: 22px;
  }

  &__main {
    display: flex;
    margin: 80px 50px 0 137px;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: 64vh;

    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;
      margin: 40px 10px;
    }
  }

  &__coffee {
    font-size: 220px;
    font-weight: 400;
    margin: 14px 0px;
    font-family: "Clicker Script", serif;
    cursor:default;

    @media (max-width: 600px) {
      font-size: 120px;
    }
  }

  &__description {
    line-height: 34px;
    font-size: 20px;
    text-align: start;
    width: 530px;
    border-radius: 20px;
    padding: 20px;
    background-color: #9e9a8e;

     @media (max-width: 600px) {
      width: auto;
    }
  }

  &__order-text {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #1E1E1E;
    text-decoration: none;
    margin: 7px;
    padding: 0px 10px;
  }

  .additional-indents {
    padding: 10px;
    border-radius: 40px;
  }
}


