$text-white-color: #fff;

@use './mixins.scss' as mixins;

.additional-indents {
  padding: 10px;
  margin: 20px;
  line-height: 50%;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  color: #443b3b;
  background-color: #160f0452;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;

  &__top {
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
  }

  &__bottom-close {
    padding-top: 5px;
  }
  
  &__order-text {
    display: flex;
    font-size: 20px;
    flex-wrap: nowrap;
    font-weight: bold;
    color: #1E1E1E;
    text-decoration: none;
    margin: 7px;
    padding: 0px 0px;
  }

  &__icon {

    &--burger {
      display: none;

      @include mixins.onPhoneAndTablet {
        display: flex;
      }
    }
  }

  &__bean-scene {
    color: $text-white-color;
    font-size: 35px;
    font-family: "Clicker Script", serif;
    font-weight: 400;
  }

  &__links {
    display: flex;

    @include mixins.onPhoneAndTablet {
      display: none;
    }
  }

  &__link {
    color: $text-white-color;
    border: none;
    background: transparent;
    font-family: 'Playfair Display';
    text-decoration: none;
    font-size: 17px;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      color: $text-white-color;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 48px;
    border-radius: 16px;
    background-color: #F9C06A;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &--fix {
      width: auto;
      height: auto;
      padding: 0;
    }

    &:active {
      background-color: #8a6836;
      transform: scale(1);
      box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  &__sign-in {

    &--email {
      color: burlywood;
      font-family: auto;
      text-decoration: 1px solid underline;
      font-size: 17px;
    }

    &--text-white {
      color: $text-white-color;
      margin-right: 20px;
      text-decoration: none;
      border-bottom: 1px solid white;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--text-black {
      display: flex;
      font-weight: bold;
      color: #1E1E1E;
      text-decoration: none;
      padding: 12px 25px 25px 25px;

      &--fix {
        padding: 19px;
      }
    }
  }
}

.padding {
  padding: 6px 10px 10px 14px;
}

.box-settings {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 400px;

  &__delete {
    display: flex;
    justify-content: end;
  }

  &__error-input {
    font-size: 17px;
    color: red;
  }

  @media (max-width: 500px) {
    width: 356px;
  }
}

.label-margin-button {
  margin-top: 10px;
}

.order-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-buy-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .box {
    transition: height 500ms ease-in-out;
  }

  &__error {
    text-align: center;
    color: red;
  }

  &__success {
    text-align: center;
    color: green;

    &__link {
      text-decoration: underline green;
      color: inherit;
      margin-left: 5px;
      font-weight: 700;
    }
  }
}

.box-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);

  @media (max-width: 450px) {
    width: 320px;
  }
}

