$text-white-color: #fff;

html {
  font-family: "Playfair Display", serif; 
  background-color: #FFFEFC;

  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif; 
  margin: 0;
  color: $text-white-color;
  box-sizing: border-box;
}