@use './mixins.scss' as mixins;

.menu {
  color: black;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;

  @include mixins.onPhoneAndTablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    font-size: 54px;
    color: #442808;
    margin-top: 135px;
  }

  &__under-title {
    color: #707070;
    font-size: 20px;
    line-height: 34px;
  }

  &--image {
    position: absolute;
    width: 30%;
  }
}

.menu--header {
  position: relative;

  &__query-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 205px;

    @media (max-width: 508px) {
      flex-direction: column;
    }
  }

  &__input {
    padding: 9px;
    border: 2px solid #ffe08a;
    text-align: left;
    font-size: 16px;
    color: rgb(68, 40, 8);
    border-radius: 4px;
    outline: none;
    width: 201px;
    font-family: "Playfair Display", serif;

    &:focus {
      border: 2px solid #ffe08a;
    }

    &:hover {
      border: 2px solid #ffe08a;
    }

    &:active {
      border: 2px solid #ffe08a;
    }
  }

  &__icon-close {
    width: 20px;
    color: #1E1E1E;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    &--navigator {
      text-align: end;
    }
  }

  &__option {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__filter {
    min-width: 147px;
    min-height: 52px;

    &--text {
      color: #442808;
      font-size: 22px;
      font-weight: bold;
    }
  }

  &__select {
    display: flex;
    flex-direction: column;
    color: #1E1E1E;
    background-color: #d1cdcd;
    border-radius: 20px;
    border: 2px solid #868383;

    &--label {
      padding: 10px;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 20px;
    }

    &--container {
      width: 100%;
      height: 130px;
      overflow: scroll;
      border: 1px solid #1E1E1E;
      border-radius: 20px;
    }

    &--button {
      margin-bottom: 10px;
      max-width: 200px;
      align-self: center;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
  }

  &__select {

    &--text {
      color: #1E1E1E;
      font-size: 22px;
      font-weight: bold;
    }
  }

  &__field {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    color: #442808;
    min-width: 212px;
    text-align: initial;
    margin-left: 10px;
    margin-bottom: 15px;
  }
}

.product {
  position: relative;
  background-color: #FFF9F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #eccd9f;

  &__image-container {
    box-sizing: border-box;
    overflow: hidden;
    background-color: papayawhip;
  }

  &__image {
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
    }
  }

  &__name {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
    color: #7e4b10;
  }

  &__button {
    position: absolute;
    bottom: -20px;
  }

  &__description {
    color: #1E1E1E;
    text-align: center;
    margin: 0px 10px;
    font-size: 16px;
  }

  &__price {
    color: #7e4b10;
    font-weight: bold;
    margin: 5px 0px 60px;
    font-size: 18px;
  }
}

.bg-color {
  background-color: #eccd9f;
}

.text-color-black {
  color: black;
}

.size {
  font-size: 20px;
  height: 48px;
}

.loader-wrapper {
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #1E1E1E;
  margin-block: 20px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.min-width {
  width: 201px;
  height: 45px;
}

.input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.input:focus::placeholder {
  opacity: 0;
}

.filter {
  &__title {
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
    color: #442808;
    min-width: 212px;
    margin-inline: 30px;
    width: 201px;
  }

  &__text {
    font-size: 22px;
    font-weight: bold;
    color: #442808;
    min-width: 212px;
    text-align: initial;
    margin-left: 10px;
    margin-bottom: 15px;
  }

  &__option {
    padding: 9px;
    border: 2px solid #ffe08a;
    text-align: left;
    font-size: 16px;
    color: rgb(68, 40, 8);
    border-radius: 4px;
    outline: none;
    width: 201px;
    font-family: "Playfair Display", serif;
  }

  &__button {
    padding: 8px 7px; 
    border: 1px solid black;
    margin: 10px;

    color: #000;
    border-radius: 5px;
    margin-inline: 10px;
    cursor: pointer;

    &:focus {
      border: none;
    }
  }
}

.sort {
    display: flex;
    font-size: 22px;
    color: #442808;
    font-weight: bold;
    align-items: baseline;
    flex-direction: column;
    align-items: center;

  &__title {
    padding: 9px;
    border: 2px solid #ffe08a;
    font-size: 16px;
    color: rgb(68, 40, 8);
    border-radius: 4px;
    outline: none;
    width: 201px;
    font-family: "Playfair Display", serif;

  @media (max-width: 1586px) {
    align-self: center;
  }
}

  &__container {
    display: flex;

    @media (max-width: 1586px) {
      display: grid;
      align-self: center;
    }
  }
  
  &__section {
    display: flex;
    align-items: center;
  }

  &__option {
    color: rgb(182, 12, 12);
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
    user-select: none;
    outline: none;
  
    &:hover {
      color: rgb(255, 0, 0);
      transform: scale(1.1);
    }
  
    &:active {
      transform: scale(0.95);
    }
  }
  
  &__arrow {
    width: 24px;
    height: 24px;
    opacity: 0;

    pointer-events: none;
    
    &--up {
      opacity: 1;
      pointer-events: all;
      transform: rotate(270deg);
    }

    &--down {
      opacity: 1;
      pointer-events: all;
      transform: rotate(90deg);
    }
  }
}