.selected-coffee-box {
  height: 92vh;
}

.order-absolute {
  margin: 20px;
  margin-top: 110px;
  width: 100px;
}

.order-loading {
  margin-top: 200px;
}

.selected-coffee {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;

  @media (max-width: 1250px) {
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    margin-bottom: 100px;
    justify-content: center;
  }

  &__image-section,
  &__title-section {
    margin: 150px 0 40px;
  }

  &__image-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #eccd9f;
    background-color: #FFF9F1;
  }

  &__image {
    background-color: papayawhip;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
  }

  &__false {
    display: flex;
    flex-direction: column;

    &--title {
      margin: auto;
      font-size: 87px;
      color: #ff1515;
      font-weight: bold;
      margin-top: 67px;  
    }
  }

  &__title {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;

    @media (max-width: 550px) {
      font-size: 18px;
    }
  }

  &__order-button {
    position: absolute;
    left: 30px;
    top: 110px;
    padding-left: 30px;
    border: none;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    background-image: url(/my-coffee/public/arrow-left.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 16px;
  }

  &__title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #433d3d;
    font-size: 20px;
    padding-inline: 30px;

    @media (max-width: 550px) {
      font-size: 18px;
    }

    @media (max-width: 1250px) {
      align-items: center;
      margin: 30px;
      text-align: center;
    }
  }

  &__price {
    font-size: 27px;
    margin-block: 20px;
    font-weight: bold;
    color: #433d3d;
    display: flex;
    justify-content: center;
  }

  &__span {
    margin-bottom: 30px;

    @media (max-width: 550px) {
      font-size: 18px;
    }
  }

  &__paragraf {
    margin: 5px 10px 16px 0px;

    
    @media (max-width: 1250px) {
      margin: 10px 10px 10px 10px;
      margin-inline: 10px;
      margin-bottom: 30px;
      max-width: 503px;
    }
    
    @media (max-width: 550px) {
      font-size: 18px;
      max-width: 280px;
    }
  }

  &__button {
    margin-top: 30px;
    max-width: 250px;
    transition: all 0.3s ease-in-out;
  }
}
