.selected-coffee-box {
  height: 92vh;
}

.selected-coffee {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: 1250px) {
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    margin-bottom: 100px;
    justify-content: center;
  }

  &__title {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;

    @media (max-width: 550px) {
      font-size: 18px;
    }
  }

  &__order-button {
    margin: 20px;
  }

  &__order-sent-div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    margin: 20px;
    margin-bottom: 311px;
  }
  
  &__order-sent {
    margin: auto;
    font-size: 87px;
    color: #41702a;
    font-weight: bold;
    margin-top: 67px;
    margin-bottom: 440px;

    @media (max-width: 650px) {
      font-size: 48px;
    }
    
  }

  &__title-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #433d3d;
    font-weight: bold;
    font-size: 25px;

    @media (max-width: 550px) {
      font-size: 18px;
    }

    @media (max-width: 1250px) {
      align-items: center;
      margin: 30px;
      text-align: center;
    }
  }

  &__price {
    font-size: 27px;
    font-weight: bold;
    color: #433d3d;
    display: flex;
    justify-content: center;
  }

  &__span {
    margin-bottom: 30px;

    @media (max-width: 550px) {
      font-size: 18px;
    }
  }

  &__image {
    max-width: 900px;

    @media (max-width: 1250px) {
      max-width: 630px;
      display: flex;
    }
  }

  &__image-section {
    justify-self: center;
  }

  &__paragraf {
    margin: 5px 10px 16px 0px;

    
    @media (max-width: 1250px) {
      margin: 10px 10px 10px 10px;
      margin-inline: 10px;
      margin-bottom: 30px;
      max-width: 503px;
    }
    
    @media (max-width: 550px) {
      font-size: 18px;
      max-width: 280px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 61px;
    border-radius: 24px;
    background-color: #cbeaea;
    border: 1px solid #2b2727;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #3f3939;
    font-size: 25px;
    font-weight: bold;

    &:active {
      animation: pulseEffect 0.3s ease-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      background: linear-gradient(45deg, #cbeaea, #8fd5d5);
    }
  
    @keyframes pulseEffect {
      0% {
        transform: scale(0.95);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.98);
      }
    }
  }
}

.footer-margin-top {
  margin-top: 200px;
}

.back-button-order {
  position: absolute;
  top: 0;
  left: 0;
}